<div class="wrapper">
  <div class="page-header">
    <div class="page-header-image rellax-header" data-rellax-speed="-8"
      style="background-image: url('assets/img/bg6.jpg'); transform: translate3d(0px, 0px, 0px);"></div>
    <div class="content-center">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <h1 class="title">Invitaciones</h1>
          <h4>¡Vamos a celebrar!</h4>
        </div>
      </div>
      <div class="row">
          <div class="col-6 mx-auto bg-light p-2 rounded text-dark">
            <div class="form-group">
                <label for="codigo"><h4 class="m-0">Código de invitación</h4></label>
                <span id="helpId" class="form-text text-muted">Ingresa aquí el código de tu invitación.</span>
                <input type="text" class="form-control" name="codigo" id="codigo" aria-describedby="helpId" placeholder="XXXX" [(ngModel)]="codigo" />
            </div>
            <button type="button" class="btn btn-primary btn-round">Verificar</button>
          </div>
        </div>
    </div>
  </div>
  <!-- INVITACIÓN :: SECCION PRINCIPAL 
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col">

          <div class="row">
            <div class="col-6 mx-auto">
              <div class="form-group">
                  <label for="codigo">Código de invitación</label>
                  <input type="text" class="form-control" name="codigo" id="codigo" aria-describedby="helpId" placeholder="XXXX" [(ngModel)]="codigo" />
                  <span id="helpId" class="form-text text-muted">Código que te proporcionó el organizador del evento.</span>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  -->
</div>