<div class="page-header section-image">
  <div class="page-header-image" style="background-image:url(../assets/img/bg11.jpg)"></div>
  <div class="content">
    <div class="container">
      <div class="row">

        <!--
        <div class="col-md-4 ml-auto mr-auto">
          <div class="info info-horizontal">
            <div class="icon icon-primary">
              <i class="fas fa-gifts" aria-hidden></i>
            </div>
            <div class="description">
              <h5 class="info-title">
                Beneficios
              </h5>
              <p class="description">
                Seguridad
              </p>
            </div>
          </div>
          <div class="info info-horizontal">
            <div class="icon icon-primary">
              <i class="fas fa-gifts" aria-hidden></i>
            </div>
            <div class="description">
              <h5 class="info-title">
                Beneficios
              </h5>
              <p class="description">
                Seguridad
              </p>
            </div>
          </div>
          <div class="info info-horizontal">
            <div class="icon icon-primary">
              <i class="fas fa-gifts" aria-hidden></i>
            </div>
            <div class="description">
              <h5 class="info-title">
                Beneficios
              </h5>
              <p class="description">
                Seguridad
              </p>
            </div>
          </div>
        </div>
-->
        <div class="col-md-5 mx-auto">
            <div class="card text-dark mt-5 mt-sm-2">
              <div class="card-body">
                <h4 class="card-title text-center">Registrarme</h4>
                <div class="social text-center">
                  <button class="btn btn-icon btn-google"><i class="fab fa-google"></i></button>
                  <button class="btn btn-icon btn-facebook"><i class="fab fa-facebook"></i></button>
                  <h5 class="card-description"> </h5>
                </div>
                <form action="" class="form" method="" novalidate="">
                  <div class="input-group" [ngClass]="{'input-group-focus':f_nombre===true}">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="now-ui-icons text_caps-small"></i></span>
                    </div>
                    <input class="form-control" placeholder="Nombre" type="text" (focus)="f_nombre=true" (blur)="f_nombre=false">
                  </div>
                  <div class="input-group" [ngClass]="{'input-group-focus':f_apellido===true}">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="now-ui-icons text_caps-small"></i></span>
                    </div>
                    <input class="form-control" placeholder="Apellido" type="text" (focus)="f_apellido=true" (blur)="f_apellido=false">
                  </div>
                  <div class="input-group" [ngClass]="{'input-group-focus':f_email===true}">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="now-ui-icons ui-1_email-85"></i></span>
                    </div>
                    <input class="form-control" placeholder="Email" type="text"  (focus)="f_email=true" (blur)="f_email=false">
                  </div>
                  <div class="form-check my-3">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox">
                      <span class="form-check-sign"></span> Estoy de acuerdo con los <a href="#something">términos y condiciones</a>.
                    </label>
                  </div>
                  <div class="card-footer border-0 text-center bg-transparent">
                    <a class="btn btn-primary btn-round btn-lg" href="#pablo">Registrarme</a>
                  </div>
                </form>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
