<nav class="navbar navbar-expand-md bg-white fixed-top navbar-transparent" color-on-scroll="300">
    <button class="navbar-toggler text-primary" type="button" data-toggle="collapse" data-target="#navbarMain"
      aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
    <a class="navbar-brand" [routerLink]="['/home']" placement="bottom" title="Diseñado y soportado por ROISEL">
    Deseos
    </a>

    <div class="collapse navbar-collapse px-2" id="navbarMain">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" id="item-como">
            <a class="nav-link" [routerLink]="['/']">
                <p>¿Cómo funciona?</p>
            </a>
            </li>
            <li class="nav-item" id="item-invitado">
            <a class="nav-link" [routerLink]="['/']">
                <p>Soy invitado</p>
            </a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto d-md-none">
          <li class="nav-item" id="item-register">
            <a class="nav-link btn btn-neutral btn-sm mr-2" [routerLink]="['/register']" routerLinkActive="d-none">
              <i class="fas fa-fingerprint mr-2"></i>
              <p>Registrarme</p>
            </a>
          </li>
          <li class="nav-item" id="item-login">
            <a class="nav-link btn btn-primary btn-sm" [routerLink]="['/login']" routerLinkActive="d-none">
              <i class="fas fa-sign-in-alt mr-2"></i>
              <p>Ingresar</p>
            </a>
          </li>
        </ul>
    </div>

    <form class="form-inline my-2 my-lg-0 d-none d-md-flex">
         <a class="nav-link btn btn-neutral btn-sm mr-2" [routerLink]="['/register']" routerLinkActive="d-none">
           <i class="fas fa-fingerprint mr-2"></i>
           <p>Registrarme</p>
         </a>
         <a class="nav-link btn btn-primary btn-sm" [routerLink]="['/login']" routerLinkActive="d-none">
           <i class="fas fa-sign-in-alt mr-2"></i>
           <p>Ingresar</p>
         </a>
    </form>

<!--
    <a class="nav-link btn btn-primary d-md-none ml-auto btn-sm" [routerLink]="['/login']">
      <i class="fas fa-sign-in-alt mr-2"></i>
      <p>Ingresar</p>
    </a>

            <ul class="navbar-nav ml-auto d-none d-md-flex">
              
              <li class="nav-item">
                  <a class="nav-link" href="https://www.creative-tim.com/product/now-ui-kit-angular" target="_blank">
                      <i class="now-ui-icons arrows-1_cloud-download-93"></i>
                      <p>Download</p>
                  </a>
              </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://creativetimofficial.github.io/now-ui-kit-angular/documentation/tutorial" target="_blank">
                      <i class="now-ui-icons files_paper"></i>
                      <p>Documentation</p>
                    </a>
                </li>
                
                <li class="nav-item" id="item-register">
                    <a class="nav-link btn btn-neutral" [routerLink]="['/register']">
                        <i class="fas fa-fingerprint mr-2"></i>
                        <p>Registrarme</p>
                    </a>
                </li>
                <li class="nav-item" id="item-signin">
                    <a class="nav-link btn btn-primary" [routerLink]="['/login']">
                        <i class="fas fa-sign-in-alt mr-2"></i>
                        <p>Ingresar</p>
                    </a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="https://twitter.com/CreativeTim" target="_blank" data-original-title="Follow us on Twitter">
                        <i class="fab fa-twitter"></i>
                        <p class="d-lg-none d-xl-none">Twitter</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="https://www.facebook.com/CreativeTim" target="_blank" data-original-title="Like us on Facebook">
                        <i class="fab fa-facebook-square"></i>
                        <p class="d-lg-none d-xl-none">Facebook</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="https://www.instagram.com/CreativeTimOfficial" target="_blank" data-original-title="Follow us on Instagram">
                        <i class="fab fa-instagram"></i>
                        <p class="d-lg-none d-xl-none">Instagram</p>
                    </a>
                </li>
            </ul>
        -->
</nav>
