<div class="wrapper">
    <div class="page-header page-header-xsmall">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/bg6.jpg'); transform: translate3d(0px, 0px, 0px);"></div>
        <div class="content-center">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <h1 class="title">Nuevo evento</h1>
                    <h4>¡Tu próxima celebración será espectacular!</h4>
                </div>
            </div>
        </div>
    </div>
    <!-- NUEVO EVENTO :: SECCION PRINCIPAL -->
    <div class="section" *ngIf="step1">
        <div class="container">
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <ul class="nav nav-pills nav-pills-primary nav-pills-icons" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#aform" role="tablist">
                                <i class="fas fa-cocktail"></i>
                                Aniversario
                            </a>
                        </li>
                        <!--
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#cform" role="tablist">
                <i class="fas fa-gift"></i>
                Cumpleaños
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#mform" role="tablist">
                <i class="fas fa-ring"></i>
                Matrimonio
              </a>
            </li>
          -->
                    </ul>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col">
                    <div class="tab-content tab-space">
                        <!-- ANIVERSARIO -->
                        <div class="tab-pane active" id="aform">
                        <!--<form >-->
                            <div class="row">
                                <div class="col-6 mx-auto form-group">
                                    <label for="nombre">Título del aniversario</label>
                                    <input type="text" class="form-control" id="nombre" name="nombre" aria-describedby="helpId" placeholder="Título" [(ngModel)]="evento.nombre"  />
                                    <small id="helpId" class="form-text text-muted">Con este título tus invitados conocerán tu aniversario.</small>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-6 mx-auto form-group">
                                    <label for="fecha">Fecha y hora del aniversario</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="d-flex col-6 mx-auto form-group justify-content-between align-items-center">
                                    <ngb-datepicker ngDefaultControl [(ngModel)]="datepick"></ngb-datepicker>
                                    <ngb-timepicker ngDefaultControl [(ngModel)]="timepick"></ngb-timepicker>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6 mx-auto">
                                    <small id="helpId" class="form-text text-muted">Fecha de la celebración de tu aniversario.</small>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-6 mx-auto form-group">
                                    <label for="lugar">Lugar del aniversario</label>
                                    <input type="text" class="form-control" name="lugar" id="lugar" aria-describedby="helpId" placeholder="Dirección" [(ngModel)]="evento.direccion"    />
                                    <small id="helpId" class="form-text text-muted">Dirección en que se celebrará tu aniversario.</small>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-6 mx-auto form-group">
                                    <label for="banco" class="d-block">Entidad Financiera</label>
                                    <angular2-multiselect 
                                        [data]="listBancos"
                                        [(ngModel)]="listBancosSelected"
                                        [settings]="listBancosSettings"
                                        (onSelect)="onBancoSelect($event)">
                                    </angular2-multiselect>
                                    <small id="helpId" class="form-text text-muted">Entidad Financiera donde se realizarán los abonos de tus invitados.</small>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-6 mx-auto form-group">
                                    <label for="tipo_cuenta" class="d-block">Tipo de cuenta</label>
                                    <angular2-multiselect 
                                        [data]="listTipoCuenta"
                                        [(ngModel)]="listTipoCuentaSelected"
                                        [settings]="listTipoCuentaSettings"
                                        (onSelect)="onTipoCuentaSelect($event)"></angular2-multiselect>
                                    <small id="helpId" class="form-text text-muted">Tipo de cuenta de tu entidad financiera.</small>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-6 mx-auto form-group">
                                    <label for="num_cuenta">Número de Cuenta</label>
                                    <input type="text" class="form-control" name="num_cuenta" id="num_cuenta" aria-describedby="helpId" placeholder="00012223904" [(ngModel)]="evento.numeroCuenta"   />
                                    <small id="helpId" class="form-text text-muted">Número de cuenta corriente donde se realizarán los abonos.</small>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-6 mx-auto form-group">
                                    <label for="email_banco">Correo Electrónico</label>
                                    <input type="text" class="form-control" name="email_banco" id="email_banco" aria-describedby="helpId" placeholder="comprobante@ejemplo.cl" [(ngModel)]="evento.emailCuenta"   />
                                    <small id="helpId" class="form-text text-muted">En esta dirección se notificarán los abonos realizados.</small>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-6 mx-auto form-group">
                                    <label for="telefono">Teléfono</label>
                                    <input type="text" class="form-control" name="telefono" id="telefono" aria-describedby="helpId" placeholder="+56 9 22 345 643" [(ngModel)]="evento.telefono"   />
                                    <small id="helpId" class="form-text text-muted">Sólo usaremos tu número para informaciones importantes.</small>
                                </div>
                            </div>

                        <!--</form>-->

                            <div class="space-70"></div>

                            <div class="form-inline">
                                <angular2-multiselect 
                                    [data]="listDeseos" 
                                    [(ngModel)]="listDeseosSelected"  
                                    [settings]="listDeseosSettings" 
                                    (onSelect)="onDeseoSelec($event)" 
                                    style="width:200px;"></angular2-multiselect>
                                <button class="btn btn-primary btn-round mx-2" type="button" (click)="onClickAddDeseo()"><i class="now-ui-icons ui-1_simple-add mr-2"></i> Agregar deseo</button>
                            </div>

                            <table class="table" *ngIf="nuevosDeseos?.length > 0">
                                <thead>
                                    <tr>
                                        <th>Deseo</th>
                                        <th>Valor en pesos</th>
                                        <th>Acción</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let d of nuevosDeseos; let i = index">
                                        <td scope="row">{{d.nombre}}</td>
                                        <td>
                                            <div class="form-group mb-0">
                                                <input type="text" class="form-control text-right" name="valor" id="valor" aria-describedby="helpId" placeholder="$ 0" 
                                                    [(ngModel)]="d.valor"/>
                                            </div>
                                        </td>
                                        <td>
                                            <button class="btn btn-danger btn-icon btn-round" (click)="eliminarFilaDeseo( d )">
                                                <i class="fas fa-times"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <!-- CUMPLEAÑOS 
                <div class="tab-pane" id="cform">
    
                </div>
                -->

                        <!-- MATRIMONIO
                <div class="tab-pane" id="mform">
                
                </div>
                -->
                    </div>
                </div>
            </div>

            <div class="row justify-content-end">
                <button class="btn btn-primary btn-round" (click)="nextPage()" >Siguiente</button>
            </div>

            <div class="space-70"></div>

            
        </div>
    </div>

    <div class="section" *ngIf="step2">
        <div class="container">
            <h3 class="text-center border-bottom padding-">Agrega invitados a tu evento</h3>
            <div class="row">
                <div class="col-6 mx-auto form-group">
                    <label for="nombreInv">Nombres</label>
                    <input type="text" class="form-control" id="nombreInv" name="nombreInv" aria-describedby="helpId" placeholder="Nombres" [(ngModel)]="nuevoInvitado.nombres" />
                    <small id="helpId" class="form-text text-muted">Nombres de tu invitado</small>
                </div>
            </div>
            <div class="row">
                <div class="col-6 mx-auto form-group">
                    <label for="apellidoInv">Apellidos</label>
                    <input type="text" class="form-control" id="apellidoInv" name="apellidoInv" aria-describedby="helpId" placeholder="Apellidos" [(ngModel)]="nuevoInvitado.apellidos" email />
                    <small id="helpId" class="form-text text-muted">Apellidos de tu invitado.</small>
                </div>
            </div>
            <div class="row">
                <div class="col-6 mx-auto form-group">
                  <label for="emailInv">Correo electrónico</label>
                  <input type="email" class="form-control" id="emailInv" name="emailInv" aria-describedby="helpId" placeholder="ejemplo@email.cl" [(ngModel)]="nuevoInvitado.email" email/>
                  <small id="helpId" class="form-text text-muted">Correo electrónico de tu nuevo invitado.</small>
                </div>    
            </div>

            <div class="row"> 
                <div class="col-6 mx-auto">
                  <button class="btn btn-primary btn-block btn-round" (click)="agregarInvitado()">Invitar</button>
                </div>
            </div>
            <div class="space-50"></div>
            <div class="row">
                <div class="col-6 mx-auto">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th colspan="2">Invitados</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let i of invitados">
                                <td>{{ i.email }}</td>
                                <td class="td-actions text-right">
                                    <button type="button" rel="tooltip" class="btn btn-danger btn-icon btn-round" (click)="removerInvitado( i )">
                                        <i class="now-ui-icons ui-1_simple-remove"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row justify-content-end">
                <button class="btn btn-primary btn-round" (click)="terminarEvento()">Finalizar</button>
            </div>
            <div class="space-70"></div>
        </div>
    </div>
</div>
