// Add additional styles here. For example, overwrite certain styles or add new components.
html {
  position: relative;
  min-height: 100%;
}

.custom-control-label{
    &::after{
        top: .1rem;
    }
    &::before{
        top: .1rem;
    }
    padding-bottom: 4px;
}

th {
    font-weight: 700;
}