// Add additional styles here. For example, overwrite certain styles or add new components.
/*
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');
*/
html {
  position: relative;
  min-height: 100%;
}
/*
body {
    font-family: 'Montserrat', $font-family-base;
    margin-bottom: 60px;
}
*/
.custom-control-label{
    &::after{
        top: .1rem;
    }
    &::before{
        top: .1rem;
    }
    padding-bottom: 4px;
}

th {
    font-weight: 700;
}
