<div class="wrapper">
  <!-- HEADER -->
    <div class="page-header page-header">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/bg/wedding-01.jpg');">
        </div>
        <div class="container">
            <div class="content-center">
                <h3 class="title">Organiza, invita, celebra y disfruta de los buenos deseos.</h3>
                <div class="text-center">
                    <button class="btn btn-neutral" type="button">Empezar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-about-us">
      <div class="container">
            <div class="row">
              <div class="col-md-8 ml-auto mr-auto text-center">
                <h2 class="title">
                  ¿Cómo funciona?
                </h2>
                <h5 class="description">
                  Te damos las herramientas que necesitas para organizar tu evento, cumpleaños, aniversario, baby-shower o matrimonio donde los regalos serán hermosos deseos.
                </h5>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-md-4">
                <div class="card card-background card-raised" data-background-color="" style="background-image: url('assets/img/register-01.jpg')">
                  <div class="info">
                    <div class="icon icon-white">
                      <i class="fas fa-fingerprint"></i>
                    </div>
                    <div class="description">
                      <h4 class="info-title">Registrate</h4>
                      <p>Tu seguridad es importante para nosotros, por eso si quieres crear un evento debes registrarte.
                        Si eres invitado no te preocupes, junto con la invitación va un código de acceso único.</p>
                      <!-- <a class="ml-3" href="#mas">Find more...</a> -->
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card card-background card-raised" data-background-color="" style="background-image: url('assets/img/bg8.jpg')">
                  <div class="info">
                    <div class="icon icon-white">
                      <i class="fas fa-cocktail"></i>
                    </div>
                    <div class="description">
                      <h4 class="info-title">Crea tu evento</h4>
                      <p>Cuéntanos de qué se trata, la fecha y el lugar. Selecciona los deseos que quieres incluir y su valor equivalente en dinero.
                        Luego envia tus invitaciones por redes sociales o correo electrónico.</p>
                      <!-- <a class="ml-3" href="#mas">Find more...</a> -->
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card card-background card-raised" data-background-color="" style="background-image: url('assets/img/bg8.jpg')">
                  <div class="info">
                    <div class="icon icon-white">
                      <i class="fas fa-gifts"></i>
                    </div>
                    <div class="description">
                      <h4 class="info-title">Despreocúpate</h4>
                      <p>Hasta la fecha del evento juntarás buenos deseos, luego serás notificado de cuánto recaudaste de tus invitados.
                      Recibirás una tarjeta electrónica cada vez que te deseen algo.</p>
                      <!-- <a class="ml-3" href="#mas">Find more...</a> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
        <div class="separator separator-primary"></div>
        <div class="section-story-overview">
          <div class="row">
            <div class="col-md-6">
              <div class="image-container image-left" style="background-image: url('../assets/img/bg1.jpg')">
                <p class="blockquote blockquote-primary">Over the span of the satellite record, Arctic sea ice has been declining significantly, while sea ice in the Antarctichas increased very slightly <br><br>
                  <small>-NOAA</small>
                </p>
              </div>
            </div>
            <div class="col-md-5">
              <div class="image-container image-right" style="background-image: url('../assets/img/bg3.jpg')"></div>
              <h3 >So what does the new record for the lowest level of winter ice actually mean</h3>
              <p>The Arctic Ocean freezes every winter and much of the sea-ice then thaws every summer, and that process will continue whatever happens with climate change. Even if the Arctic continues to be one of the fastest-warming regions of the world, it will always be plunged into bitterly cold polar dark every winter. And year-by-year, for all kinds of natural reasons, there’s huge variety of the state of the ice. </p>
              <p> For a start, it does not automatically follow that a record amount of ice will melt this summer. More important for determining the size of the annual thaw is the state of the weather as the midnight sun approaches and temperatures rise. But over the more than 30 years of satellite records, scientists have observed a clear pattern of decline, decade-by-decade. </p>
              <p>The Arctic Ocean freezes every winter and much of the sea-ice then thaws every summer, and that process will continue whatever happens with climate change. Even if the Arctic continues to be one of the fastest-warming regions of the world, it will always be plunged into bitterly cold polar dark every winter. And year-by-year, for all kinds of natural reasons, there’s huge variety of the state of the ice. </p>
            </div>
          </div>
        </div>
      </div>
    </div>

</div>
