<div class="wrapper">
    <div class="page-header page-header-xsmall">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/pp-cov.jpg'); transform: translate3d(0px, 0px, 0px);"></div>
        <div class="content-center">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <h1 class="title">Nuevo evento</h1>
                    <h4>¡Tu próxima celebración será espectacular!</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <ul class="nav nav-pills nav-pills-primary nav-pills-icons" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#aform" role="tablist">
                                <i class="fas fa-cocktail"></i>
                                Aniversario
                            </a>
                        </li>
                        <!--
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#cform" role="tablist">
                <i class="fas fa-gift"></i>
                Cumpleaños
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#mform" role="tablist">
                <i class="fas fa-ring"></i>
                Matrimonio
              </a>
            </li>
          -->
                    </ul>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col">
                    <div class="tab-content tab-space">
                        <!-- ANIVERSARIO -->
                        <div class="tab-pane active" id="aform">
                            <div class="row">
                                <div class="col-6 mx-auto form-group">
                                    <label for="nombre">Título del aniversario</label>
                                    <input type="text" class="form-control" name="nombre" id="nombre" aria-describedby="helpId" placeholder="Título" [(ngModel)]="evento.nombre" />
                                    <small id="helpId" class="form-text text-muted">Con este título tus invitados conocerán tu aniversario.</small>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-6 mx-auto form-group">
                                    <label for="fecha">Fecha y hora del aniversario</label>
                                    <input type="text" class="form-control" name="fecha" id="fecha" aria-describedby="helpId" placeholder="01/02/2019 20:00:00" [(ngModel)]="evento.fechaEvento" />
                                    <small id="helpId" class="form-text text-muted">Esta fecha y hora indica el día de celebración de tu aniversario.</small>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-6 mx-auto form-group">
                                    <label for="lugar">Lugar del aniversario</label>
                                    <input type="text" class="form-control" name="lugar" id="lugar" aria-describedby="helpId" placeholder="01/02/2019" [(ngModel)]="evento.direccion" />
                                    <small id="helpId" class="form-text text-muted">Dirección en que se celebrará tu aniversario.</small>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-6 mx-auto form-group">
                                    <label for="banco" class="d-block">Entidad Financiera</label>
                                    <angular2-multiselect [data]="listBancos" [(ngModel)]="listBancosSelected"  [settings]="listBancosSettings" ></angular2-multiselect>
                                    <small id="helpId" class="form-text text-muted">Entidad Financiera donde se realizarán los abonos de tus invitados.</small>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-6 mx-auto form-group">
                                    <label for="tipo_cuenta" class="d-block">Tipo de cuenta</label>
                                    <div class="dropdown bootstrap-select">
                                        <select
                                            class="selectpicker"
                                            title="Tipo de Cuenta"
                                            id="tipo_cuenta"
                                            data-width="100%"
                                            data-live-search="false"
                                            data-size="10"
                                            data-style="btn btn-outline-primary btn-round btn-block"
                                            #selecttdc
                                            [(ngModel)]="evento.tipoCuenta"
                                        >
                                            <option value="CC">Cuenta Corriente</option>
                                            <option value="CV">Cuenta Vista</option>
                                            <option value="CR">Cuenta RUT</option>
                                        </select>
                                    </div>
                                    <small id="helpId" class="form-text text-muted">Tipo de cuenta de tu entidad financiera.</small>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-6 mx-auto form-group">
                                    <label for="num_cuenta">Número de Cuenta</label>
                                    <input type="text" class="form-control" name="num_cuenta" id="num_cuenta" aria-describedby="helpId" placeholder="00012223904" [(ngModel)]="evento.numeroCuenta" />
                                    <small id="helpId" class="form-text text-muted">Número de cuenta corriente donde se realizarán los abonos.</small>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-6 mx-auto form-group">
                                    <label for="email_banco">Correo Electrónico</label>
                                    <input type="text" class="form-control" name="email_banco" id="email_banco" aria-describedby="helpId" placeholder="comprobante@ejemplo.cl" [(ngModel)]="evento.emailCuenta" />
                                    <small id="helpId" class="form-text text-muted">En esta dirección se notificarán los abonos realizados.</small>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-6 mx-auto form-group">
                                    <label for="telefono">Teléfono</label>
                                    <input type="text" class="form-control" name="telefono" id="telefono" aria-describedby="helpId" placeholder="+56 9 22 345 643" [(ngModel)]="evento.telefono" />
                                    <small id="helpId" class="form-text text-muted">Sólo usaremos tu número para informaciones importantes.</small>
                                </div>
                            </div>

                            <div class="space-70"></div>

                            <div class="form-inline">
                                <angular2-multiselect [data]="listDeseos" [(ngModel)]="listDeseosSelected"  [settings]="listDeseosSettings" style="width:200px;" ></angular2-multiselect>
                                <button class="btn btn-primary btn-round" type="button" (click)="onClickAddDeseo()"><i class="now-ui-icons ui-1_simple-add mr-2"></i> Agregar deseo</button>
                            </div>

                            <table class="table" *ngIf="nuevosDeseos?.length > 0">
                                <thead>
                                    <tr>
                                        <th>Cantidad</th>
                                        <th>Deseo</th>
                                        <th>Valor</th>
                                        <th>Total</th>
                                        <th>Acción</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let d of nuevosDeseos">
                                        <td scope="row">
                                            <div class="form-inline">

                                                <button type="button" class="btn btn-secondary btn-icon btn-round"><i class="now-ui-icons ui-1_simple-delete"></i></button>
                                                <div class="form-group mb-0 mx-2">
                                                    <input type="text" class="form-control text-center" name="cant" id="cant" placeholder="0" style="width: 80px" 
                                                        [value]="d.cantidad" >
                                                </div>
                                                <button type="button" class="btn btn-primary btn-icon btn-round"><i class="now-ui-icons ui-1_simple-add"></i></button>
                                                
                                            </div>
                                        </td>
                                        <td>{{d.nombre}}</td>
                                        <td>
                                            <div class="form-group mb-0">
                                                <input type="text" class="form-control text-right" name="valor" id="valor" aria-describedby="helpId" placeholder="$ 0" 
                                                    value="{{d.valor | currency:'CLP':'symbol-narrow':'':'es-CL' }}" />
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group mb-0">
                                                <input type="text" class="form-control text-right" name="total" id="total" aria-describedby="helpId" placeholder="$ 0" 
                                                    value="{{d.valor * d.cantidad | currency:'CLP':'symbol-narrow':'':'es-CL'}}" />
                                            </div>
                                        </td>
                                        <td>
                                            <button class="btn btn-danger btn-icon btn-round">
                                                <i class="fas fa-times"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <!-- CUMPLEAÑOS 
                <div class="tab-pane" id="cform">
    
                </div>
                -->

                        <!-- MATRIMONIO
                <div class="tab-pane" id="mform">
                
                </div>
                -->
                    </div>
                </div>
            </div>

            <div class="row justify-content-end">
                <button class="btn btn-primary btn-round" (click)="nextPage()" >Siguiente</button>
            </div>

            <div class="space-70"></div>

            
        </div>
    </div>
</div>
