<div class="wrapper">
  <div class="page-header page-header-xsmall">
    <div class="page-header-image rellax-header" data-rellax-speed="-8"
      style="background-image: url('assets/img/pp-cov.jpg'); transform: translate3d(0px, 0px, 0px);"></div>
    <div class="content-center">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <h1 class="title">Soy invitado</h1>
          <h4>¡Tu próxima celebración será espectacular!</h4>
        </div>
      </div>
    </div>
  </div>
  <!-- NUEVO EVENTO :: SECCION PRINCIPAL -->
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col d-flex justify-content-center">
        </div>
      </div>
    </div>
  </div>
</div>